.EditProfileContainer{
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    min-height: 835px;
}

.EditProfileForm{
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.EditProfileLine{
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.EditProfileColumn{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}
.EditProfileLabels{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    margin-bottom: 20px;
}

.EditProfileSelect{
    margin-right: 20px;
    width: 70px;
    height: 35px;
    background: var(--primary-color);
    border-radius: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    border: 0px;
    padding: 3px 7px;
    outline-color: var(--primary-color);
}

.EditProfileInputFild{
    padding: 5px 10px;
    height: 40px;
    border-radius: 15px;
    border: 2px solid #999;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
    outline: none;
}


.EditProfileInputFild:focus, .EditProfileInputFild:hover{
    border: 2px solid var(--primary-color);
}

.EditProfileImageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ProfileImageBorder{
    width: 240px;
    height: 240px;
    border-radius: 50%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ProfileImageBorder>img{
    width: 95%;
    height: 95%;
    border-radius: 50%;
    border: 4px solid #FFF
}

.editProfileUploadButton{
    font-size: 18px;
    margin-top: 30px;
}

.EditProfileTextArea{
    min-width: 510px;
    height: 200px;
    font-size: 15px;

}

.EditProfileEndereco{
    min-width: 510px;
    height: 100px;
    font-size: 15px;
}