
.exerciseCard{
    width: 180px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    cursor: pointer;
}

.exerciseSummary{
    
    font-family: 'Nunito';
    font-size: 12px;
    font-weight: bold;
}

.exerciseCard:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.exerciseCardInfos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+61,1+61 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 61%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 61%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    position: relative;
    bottom: -181px;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: clip;
    align-items: flex-start;
}

.exerciseName{
    font-family: 'Nunito';
    font-weight: bold;
}