.lastNewsContainer{
    text-align: left;
    display: flex;
    flex-direction: column;
    min-height: 350px;
    max-width: 300px;
    margin-right: 20px;
}

.lastNewsTitle{
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 23px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.lastNewsParagraph{
    max-width: 300px;
    height: 200px;
    border-left: 1px dashed #000000;
    padding-left: 20px;
    margin-bottom: 20px;
    display: block; 
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lastNewsButton{
    margin-left: 20px;
    height: 30px;
    width: 80px;
    font-size: 13px;
    cursor: pointer;
}