.routineCardContainer {
  max-width: 90vw;
  height: 350px;
  width: 400px;
  margin-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.routineCardContainerOverlay {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #eee 100%);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.routineContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.routineHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.routineHeader > h2 {
  font-size: 14px;
}

.routineHighLight {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.routineHighLightItem {
  display: flex;
  align-items: center;
}
.routineHighLightItem > span {
  margin-left: 10px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.routineHighlightIcon {
  padding: 5px;
  background-color: var(--primary-color);
  border-radius: 5px;
  min-width: 20px;
}

.routineContent > p {
  margin-top: 30px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: justify;
  color: #000000;
}
.routineCardTools {
  display: flex;
  align-self: flex-end;
  justify-self: flex-end;
}

.PacientesroutineBottomButtonIcon {
  background-color: var(--primary-color);
  margin-left: 20px;
  padding: 7px;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

@media (max-width: 750px) {
  .PacientesroutineBottomButtonIcon {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  .routineHeader > h2 {
    font-size: 10px;
  }
}
