.feedContainer{
    width: 90%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 20px;
    height: 100%;
}

.activityList{
    display: flex;
    width: 100%;
    margin-top: 30px;
    padding-bottom: 40px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}