.Container{
    max-width: 600px;
    margin: 0 auto;
}

.exercisesList{
    display: flex;
    max-width: 600px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


.exerciseDescription{
    
    font-family: bold;
    font-size: 12px;
}