@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');

:root{
  --primary-color: #96FFB3;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background-color: #EEE;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

h3, h2, h1, p{
  margin: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

*::-webkit-scrollbar {
  width: 8px; 
  height: 0px;               /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: rgb(228, 228, 228);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}

* {
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color:  var(--primary-color);   /* scroll thumb and track */
}

::-moz-selection { /* Code for Firefox */
  color: rgb(0, 0, 0);
  background: var(--primary-color);
}

::selection {
  color: rgb(0, 0, 0);
  background: var(--primary-color);
}

.App-container{
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  height: 90vh;
  margin-top: 50px;
  border-radius: 18px;
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.05);
  overflow: hidden;

}
.Page-container{
  margin-left: 170px;
  height: 100%;
  overflow: auto;
}
h2{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  padding: 7px 20px;
  background: var(--primary-color);
  border-radius: 10px;
  display: inline-block;
}

.ScalableButton{
  transition: 300ms;
  width: fit-content;
  cursor: pointer;
}

.ScalableButton:hover{
  transition: 300ms;
  transform: scale(1.1);
}

.displayNone{
  display: none;
}

@media (max-width: 980px) {
  .App-container{
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
    height: calc(100vh - 40px);
  }

  .Page-container{
    margin-left: 0px;
    height: 100%;
  }

  h2{
    font-size: 22px;
    padding: 5px 10px;
  }
}

.heat-icone{
  height: 40px;
  width: 40px;
  position: relative;
  top: 10px;
  right: -200px;
}

.loading-icone{
  animation: spin 2s linear infinite;
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: scale-in-center 0.3s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


@-webkit-keyframes scale-in-center {
0% {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
}
@keyframes scale-in-center {
0% {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 1;
}
100% {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

.slide-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@-webkit-keyframes grow {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
}


.show{
  opacity: 1;
}



.fadeOut {
	-webkit-animation: fadeOut 1s ease-out both;
	        animation: fadeOut 1s ease-out both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-7-20 8:23:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
 @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
@keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

