.container {
  padding: 5rem;
}

.profileContainer{
  display: flex;
  justify-content: space-between;
  height: 200px
}

.ProfileUseName>h1{
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #000000;
}
.profileMenu{
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profileImageBorder{
  height: 83px;
  width: 83px;
  transition: 300ms;
  border: 3px solid #96FFB3;
  border-radius: 50%;
  filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  z-index: 2;
}

.profileImageBorder:hover{
  transition: 300ms;
  transform: scale(1.1);
}

.profileImageBackground{
  height: 79px;
  width: 79px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  position: relative;
  top: -1px;
  left: -1px;
  z-index: 2;

}

.profileImage{
  position: relative;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid #FFF;
}

.ProfileMenuList>ul{
  position: relative;
  top: -100px;
  list-style-type: none;
  text-align: center;
  overflow: clip;
  height: 230px;
  border-radius: 50% 50% 0 0;
  width: 150px;
  padding: 5px;
}

.ProfileMenuList>ul>li{
  cursor: pointer;
  margin-bottom: 5px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  color: #000000;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 15px;
}

.ProfileMenuList>ul>li:hover{
  background-color: #96FFB3;
  filter: drop-shadow(2px 1px 4px rgba(0, 0, 0, 0.25));
}

.homeContentContainer{
  border: #000000 solid 1px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.homeContentSection1{
  border: #863f3f dotted 1px;
  width: 75%;
}
.homeDashBoard{
  border: #df0a7f dotted 1px;
  height: 50%;
}

.homeLastPacientes{
  border: #219e2b dotted 1px;
  height: 50%;
}

.homeContentSection2{
  border: #196ac7 dotted 1px;
  width: 25%;
}

.homeDashBoardTitle{
  width: 182px;
  height: 44px;
}

.homeLastPacientesTitle{
  width: 300px;
  height: 44px;
}



@media (max-width: 980px) {
  .ProfileUseName>h1{
    font-size: 35px;
    line-height: 33px;
  }
  .container {
    padding: 3rem;
  }
}


@media (max-width: 425px) {

  .container {
    padding: 2rem;
  }
  .ProfileUseName>h1{
    font-size: 17px;
    line-height: 33px;
  }
  .profileMenu{
    width: 100px;
  }
  .profileImageBorder{
    transition: 300ms;
    transform: scale(0.8);
  }
  .ProfileMenuList>ul>li{
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 19px;
    padding: 5px;
  }
  
}
